{ config, lib, pkgs, inputs, ... }: {
  imports = [
    (import ../../../host-lib/mkHardware.nix ./.)
    ../../../host-lib/sops-base.nix
  ];

  networking = {
    hostName = "__HOSTNAME__";
    networkmanager.enable = true;
    nameservers = [ __NAMESERVERS__ ];
  };

  system.stateVersion = "__STATE_VERSION__";
}
