{ config, lib, pkgs, inputs, ... }: {
  imports = [
    (inputs.thundercast.nixosModules.host { hostDir = ./.; })
  ];

  networking = {
    hostName = "__HOSTNAME__";
    networkmanager.enable = true;
    nameservers = [ __NAMESERVERS__ ];
  };

  system.stateVersion = "__STATE_VERSION__";
}
